<div class="job-listing">
  <div class="text-selection">
    <div class="my-class">
    <p><span class="org">Palavah</span></p>
    <p><span class="new">New</span></p>
    <p><span class="feat">Featured</span></p>
    </div>
    <p class="role">Web Designer</p>
    <div class="info-details">
    <p class="more-info"><span class="date">2d Ago</span></p>
    <p><span class="work-duration">Full Time</span></p>
    <p><span class="location">Atlanta (onsite)</span></p>
    </div>
  </div>
  <ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>Figma</li>
    <li>Adobe XD</li>
    <li>Elementor</li>
  </ul>
<button>Apply</button>
</div>
  